<button class="btn btn-primary" id="newCommentBtn" data-post="{{post}}" data-category="{{category}}">Add a comment!</button>



{{#each post}}
<div class="card">
  <div class="card-header">
    Title: {{header}}
  </div>
  <div class="body">
    {{corntent}}
  </div>
</div>
{{/each}}
{{#if comments}}
{{>comments}}
{{else}}
<div class="card">
  <div class="card-header">There are no comments for this post!</div>
  <!--Inserts the userName and createdAt time in the card title-->
  <div class="card-body">Does no one give a husk!?</div>
  <!--Inserts the comments content-->
</div>
{{/if}}
</div>

<div class="modal" id="newCommentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><font color="#0D7788">Add New Comment</font></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newCommetContent"><font color="#0D7788">Post Body</font></label>
                        <textarea class="form-control col-12 newPostTextArea" id="newCommentContent"
                            placeholder="Comment"></textarea>
                    </div>
                    <p class="logInErrorMessage">One or more fields invalid</p>
                </form>
                <button class="btn btn-primary" id="submitNewCommentBtn">Submit</button>
            </div>
        </div>
    </div>
</div>